{{template "base" .}} {{define "content"}}
<section class="section">
  <div class="container">
    <h1 class="title">Home Page</h1>
    <h2 class="subtitle">
      <p>A simple home page</p>
    </h2>
    <a href="/about">About</a>
  </div>
</section>
{{end}}
